<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="${appName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".ProjectNoxUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="manga.project-nox-awerkori.workers.dev"
                    android:pathPattern="/obra/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>
